#resizable-box {
  background-color: #4caf50;
  position: relative;
  border-right: 2px solid #4caf50;
  box-sizing: border-box;
  cursor: default;
  width: 600px;
  flex: 0 0 auto;
}

/* 调整大小时高亮右边框 */
#resizable-box.resizing {
  border-right: 2px dashed #ff9800;
}
